*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* html{
    font-family: ; */
/* } */

section{
    background-color: rgb(13, 13, 13);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    max-width: 450px;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    border-radius: 8px;

    /* height: 100%; */
}
.display{
    /* background-color: azure; */
    background: rgb(198, 198, 198);
    height: 80px;
    width: 100%;
    padding: 14px;
    padding-top: 0px;
    text-align: right;
    font-size: 22px;
    position: relative;
}

.display-1{
    opacity: .6;
    font-size: 18px;
    overflow: hidden;
}
.display-2{
    font-size: 35px;
    overflow: hidden;
}
.display-result{
    position: absolute;
    left: 10;
    bottom: 0;
    font-size: medium;
    opacity: .5;
}
.buttons{
    display: grid;
    background: black;
    color: rgb(246, 246, 250);
    grid-template-columns: repeat(4,auto);
    /* margin: 20px; */
}

.edge{
    background: rgb(24, 24, 24);
}
.button{
    border: .2px solid rgb(71, 72, 72);
    /* margin: 2px; */
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.button:hover{
    background-color: rgb(61, 63, 61);
    cursor: pointer;
    border: .5px solid rgb(10, 10, 10);
}
.button:active{
    background-color: rgb(68, 68, 70);
}
#zero{
    grid-column: 1/3;
}

/* .edge:hover{
    background: rgb(14, 14, 14);
} */